In [6]:
import pandas as pd

In [13]:
train = pd.read_csv("train.csv")

In [14]:
test = pd.read_csv("test.csv")

In [15]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [16]:
train.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [38]:
train[pd.isna(train["Product_Category_2"]) == False]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
30,1000010,P00118742,F,36-45,1,B,4+,1,5,11.0,NaN,8886
33,1000010,P00058342,F,36-45,1,B,4+,1,3,4.0,NaN,10946
36,1000010,P00182642,F,36-45,1,B,4+,1,2,4.0,9.0,12909
37,1000010,P00186942,F,36-45,1,B,4+,1,5,12.0,NaN,8770
38,1000010,P00155442,F,36-45,1,B,4+,1,1,11.0,15.0,15212
39,1000010,P00221342,F,36-45,1,B,4+,1,1,2.0,5.0,15705
41,1000010,P00111142,F,36-45,1,B,4+,1,1,15.0,16.0,18963
42,1000010,P00259342,F,36-45,1,B,4+,1,5,9.0,NaN,8718
43,1000010,P0094542,F,36-45,1,B,4+,1,2,4.0,9.0,16406
44,1000010,P00148642,F,36-45,1,B,4+,1,6,10.0,13.0,12642
...,...,...,...,...,...,...,...,...,...,...,...,...
545875,1006036,P00283142,F,26-35,15,B,4+,1,13,14.0,16.0,772
545876,1006036,P00181542,F,26-35,15,B,4+,1,11,16.0,NaN,4573
545878,1006036,P00213942,F,26-35,15,B,4+,1,5,14.0,NaN,5475
545879,1006036,P00195742,F,26-35,15,B,4+,1,3,4.0,NaN,8431
545880,1006036,P00025642,F,26-35,15,B,4+,1,4,8.0,NaN,2840
545881,1006036,P00065042,F,26-35,15,B,4+,1,5,15.0,NaN,7152
545882,1006036,P00270542,F,26-35,15,B,4+,1,1,6.0,8.0,15653
545884,1006036,P00076342,F,26-35,15,B,4+,1,2,4.0,NaN,10140
545885,1006036,P00207342,F,26-35,15,B,4+,1,5,8.0,14.0,3706
545886,1006036,P00219342,F,26-35,15,B,4+,1,5,14.0,NaN,5426
545887,1006036,P00127742,F,26-35,15,B,4+,1,1,2.0,15.0,11398
545888,1006036,P00196042,F,26-35,15,B,4+,1,4,9.0,15.0,2852
545889,1006036,P00129342,F,26-35,15,B,4+,1,1,5.0,15.0,7830
545890,1006036,P00244142,F,26-35,15,B,4+,1,1,2.0,15.0,7846
545891,1006037,P00051442,F,46-50,1,C,4+,0,8,17.0,NaN,9892
545892,1006037,P00148642,F,46-50,1,C,4+,0,6,10.0,13.0,11952
545893,1006037,P00084442,F,46-50,1,C,4+,0,13,16.0,NaN,959
545895,1006037,P00121642,F,46-50,1,C,4+,0,5,14.0,NaN,6857
545898,1006039,P0095042,F,46-50,0,B,4+,1,4,5.0,8.0,2153
545899,1006039,P00110042,F,46-50,0,B,4+,1,5,14.0,NaN,7006
545900,1006039,P00282442,F,46-50,0,B,4+,1,5,8.0,18.0,8889
545901,1006039,P00085442,F,46-50,0,B,4+,1,12,14.0,NaN,1434
545902,1006039,P00064042,F,46-50,0,B,4+,1,3,4.0,12.0,8047
545903,1006039,P00178542,F,46-50,0,B,4+,1,8,13.0,NaN,7796
545904,1006040,P00081142,M,26-35,6,B,2,0,6,8.0,14.0,16493
545905,1006040,P00331042,M,26-35,6,B,2,0,5,8.0,NaN,7058
545906,1006040,P00101942,M,26-35,6,B,2,0,8,17.0,NaN,5948
545907,1006040,P00277642,M,26-35,6,B,2,0,2,3.0,10.0,3425
545908,1006040,P00127642,M,26-35,6,B,2,0,1,2.0,15.0,15694
545914,1006040,P00217442,M,26-35,6,B,2,0,1,2.0,11.0,11640

In [39]:
train["Product_Category_2"].value_counts()

8.0     64088
14.0    55108
2.0     49217
16.0    43255
15.0    37855
5.0     26235
4.0     25677
6.0     16466
11.0    14134
17.0    13320
13.0    10531
9.0      5693
12.0     5528
10.0     3043
3.0      2884
18.0     2770
7.0       626
Name: Product_Category_2, dtype: int64

In [24]:
columns = train.columns

In [25]:
columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')